/* Retour à la page d'accueil du site */
.fa-home{
    font-size: 28px;
    color: rgb(190, 190, 190);
    right: 8%; /* Décalage de l'icon à 8% du bord droit */
    top: 1%;
    position: absolute;
    display: flex;

}

.fa-home:hover {
    /* Animation lors du passage du curseur:
        - brightness: éclairage de l'icon,
        - scale: agrandissement de l'icon,
        - transform: rotation de 360 degrès,
        - transition: rotation qui dure 3 secondes.
    */
    filter: brightness(5);
    transform: scale(1.1);
    cursor: pointer;
    transform: rotateZ(-90deg);
    transition: All 2s;

}

/* Retour à la page précédente */
.fa-backward {
    font-size: 28px;
    color: rgb(190, 190, 190);
    right: 5%; /* Décalage de l'icon à 5% du bord droit */
    top: 1%;
    position: absolute;
    display: flex;
}

.fa-backward:hover {
    /* Animation lors du passage du curseur:
        - brightness: éclairage de l'icon,
        - scale: agrandissement de l'icon,
        - transform: rotation de 360 degrès,
        - transition: rotation qui dure 3 secondes.
    */
    filter: brightness(5);
    transform: scale(1.1);
    cursor: pointer;
    transform: rotateX(360deg);
    transition: All 3s;
}


