@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cinzel:wght@600&family=Secular+One&family=Vujahday+Script&family=Yuji+Hentaigana+Akari&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500&family=Bebas+Neue&family=Josefin+Sans:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

:root {
  --backroundColor: #083a59;
  --color1: #105773;
  --color2: #20788c;
  --shadowColor: #5aadbf;
  --iconColor: #e4edf2;

  --abril: "Abril Fatface", cursive;
  --cinzel: "Cinzel", serif;
  --secular: "Secular One", sans-serif;
  --vujah: "Vujahday Script", cursive;
  --yuji: "Yuji Hentaigana Akari", cursive;
  --araba: "Amatic SC", cursive;
}

::-webkit-scrollbar {
  width: 0;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--backroundColor);
}

/** ------------------------------ HEADER ------------------------------ */

.header-menu_header-buttons {
  display: flex;
  justify-content: right;
  margin: 0.3em 4.5em;
  flex-wrap: nowrap;
  padding: 0.1%;
  flex-direction: row-reverse;
}

.fa-chevron-circle-down,
.fa-backward,
.fa-home {
  font-size: 3rem;
  color: var(--iconColor);
  background-color: transparent;
}

.fa-backward,
.fa-chevron-circle-down {
  margin: auto 0.2em;
}
.fa-chevron-circle-down-hover,
.fa-backward:hover,
.fa-home:hover {
  color: var(--iconColor);
  cursor: pointer;
  transform: scale(1.09);
  text-shadow: -0.5px 0 var(--shadowColor), 0 0.5px var(--shadowColor),
    0.5px 0 var(--shadowColor), 0 -0.5px var(--shadowColor);
}
.fa-chevron-circle-down-hover,
.fa-backward:hover,
.fa-home:hover {
  transition: All 0.9s;
}

/*! ------------------------------ HEADER ------------------------------ */
/** ------------------------------ FOOTER ------------------------------ */

footer {
  position: absolute;
  height: 25px;
  width: 100%;
  text-align: center;
  bottom: 0;
  color: var(--color1);
}

footer:hover {
  transition: All 0.8s;
  color: var(--iconColor);
}

/*! ------------------------------ FOOTER ------------------------------ */
/** ------------------------------ ERROR ------------------------------- */

#titre-notfound {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 10rem;
  font-weight: 100;
  font-family: var(--abril);
  color: var(--iconColor);
  text-shadow: -0.5px 0 var(--shadowColor), 0 0.5px var(--shadowColor),
    0.5px 0 var(--shadowColor), 0 -0.5px var(--shadowColor);
}

#p-notfound {
  width: 100%;
  margin: auto;
  font-size: 5rem;
  text-align: center;
  font-weight: 800;
  color: var(--iconColor);
  font-family: var(--abril);
  text-shadow: -0.5px 0 var(--shadowColor), 0 0.5px var(--shadowColor),
    0.5px 0 var(--shadowColor), 0 -0.5px var(--shadowColor);
}

/*! ------------------------------ ERROR ------------------------------- */
/** ------------------------------ INDEX  ------------------------------ */
/** -------------------------- MENU DÉROULANT -------------------------- */

ul.drop a {
  font-family: var(--abril);
  font-size: 1.2em;
}

ul.drop,
ul.drop li,
ul.drop ul {
  list-style: none;
  margin: -0.4px;
  padding: 0;
  color: var(--iconColor);
  text-align: end;
}

ul.drop {
  position: absolute;
  z-index: 597;
  float: left;
}

ul.drop li {
  line-height: 1.5em;
  vertical-align: middle;
  zoom: 1;
  padding: 1.08px;
}

ul.drop ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
}

ul.drop li ul {
  width: 1000%;
  max-width: 265px;
  margin: 1px -12.5em;
}

ul.drop li.menuhover:hover > ul {
  visibility: visible;
}

header div.header-menu_header-buttons .header-nav ul li ul li a {
  color: var(--iconColor);
  text-decoration: none;
}

header div.header-menu_header-buttons .header-nav ul li ul li a:hover {
  zoom: 1.02;
  text-shadow: -0.5px 0 var(--shadowColor), 0 0.5px var(--shadowColor),
    0.5px 0 var(--shadowColor), 0 -0.5px var(--shadowColor);
}

/** -------------------------- MENU DÉROULANT -------------------------- */
/** ------------------------------ BUTTONS ------------------------------ */

#first_button_div {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.fa-circle {
  padding: 0.3vh;
  margin-top: 1vh;
  font-size: 1.5em;
}

.btn1 {
  animation: bounce 1.2s ease infinite alternate-reverse;
}
.btn2 {
  animation: bounce 1.4s ease infinite alternate-reverse;
}
.btn3 {
  animation: bounce 1.6s ease infinite alternate-reverse;
}

.btn1,
.btn2,
.btn3 {
  color: var(--iconColor);
}
* .btn1:hover {
  color: pink;
}
.btn2:hover {
  color: rgb(187, 255, 187);
}
.btn3:hover {
  color: rgb(236, 215, 177);
}

@keyframes bounce {
  from {
    transform: translateY(1.25vh);
  }
  to {
    transform: translateY(1vh);
  }
}

/** ------------------------------ BUTTONS ------------------------------ */
/** ------------------------------ SLIDES ------------------------------ */

#slides {
  width: 100%;
  height: 33vh;
  margin-top: 12.5vh;
  display: flex;
  justify-content: center;
}

.transition-to-img {
}

#img-centrale {
  width: 100%;
  height: 100%;
  border-radius: 22.5px 22.5px 22.5px 22.5px;
  box-shadow: 1.8px 1.8px var(--shadowColor);
}

#img-scnd {
  width: 100%;
  height: 60%;
  border-radius: 25.5px 25.5px 25.5px 25.5px;
  margin-top: 15%;
  margin-left: -20%;
}

#img-thrd {
  width: 100%;
  height: 60%;
  margin-top: 15%;
  margin-left: 28%;
  border-radius: 25.5px 25.5px 25.5px 25.5px;
}

#img-scnd {
  transform: rotateX(9deg) rotateY(45deg) rotateZ(0deg) translateX(0px)
    translateY(-35px) translateZ(0px) scale(1.375) skewY(3deg);
}
#img-thrd {
  transform: rotateX(-9deg) rotateY(-49deg) rotateZ(0deg) translateX(-50px)
    translateY(-20px) translateZ(0px) scale(1.4) skewY(-15deg);
}

#img-centrale:hover {
  box-shadow: 1.5px 1.5px black;
  cursor: help;
}

/** ------------------------------ SLIDES ------------------------------ */
/** ---------------------------- CONTAINER ----------------------------- */

#container-menu-central {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
  width: 100%;
  overflow: hidden;
}

#prenom,
#nom {
  font-size: 8.5vw;
  color: var(--iconColor);
  font-family: var(--araba);
  margin-right: 2%;
  margin-left: 2%;
}

.fa-address-card {
  font-size: 3.5vw;
  color: var(--color2);
  margin-top: 100%;
}

.fa-address-card:hover {
  transition: All 0.8s;
  color: var(--iconColor)
}

/** ---------------------------- CONTAINER ----------------------------- */
/*! ------------------------------ INDEX  ------------------------------ */
/** -------------------------- PRESENTATION ---------------------------- */

.fa-cloud-download-alt {
  font-size: 2.5em;
  color: var(--icon-color);
  background-color: transparent;
  cursor: alias;
}

/*! -------------------------- PRESENTATION ---------------------------- */
/** --------------------------- COMPRENDRE ----------------------------- */

.fa-code,
.fa-github {
  font-size: 2.5em;
  color: var(--icon-color);
  background-color: transparent;
  cursor: alias;
}

/*! --------------------------- COMPRENDRE ----------------------------- */
/** ---------------------------- PROJETS ------------------------------- */

#htmlprojet {
  scroll-behavior: smooth;
}

.projet-explication {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.projects {
  font-size: 6.5rem;
  font-family: var(--abril);
  height: 25vh;
  text-align: center;
  letter-spacing: 4.5px;
  text-decoration: underline;
  color: #fff;
}

.pres-projet-timken,
.pres-projet-snp {
  height: 33vh;
  text-align: center;
}

.encre {
  text-decoration: none;
  color: var(--icon-color);
  letter-spacing: 4.5px;
  font-size: 10.5rem;
  font-family: var(--araba);
}

#Timken-presentation {
  height: 100vh;
  box-shadow: 0px 0px 8px black;
}

#SnipeIT-presentation {
  height: 100vh;
}

/*! ---------------------------- PROJETS ------------------------------- */
/** ----------------------------- TIMKEN ------------------------------- */

#div_principale_projet {
  display: flex;
  justify-content: center;
  margin-top: 12vh;
  width: 100%;
  height: 100%;
}

#video_projet {
  position: relative;
  z-index: 1;
  width: 45%;
  height: 100%;
  border: outset;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
  overflow: hidden;
}

#frame_projet {
  position: relative;
  width: 45%;
  height: 50.55vh;
  display: none;
  border: outset;
  border-radius: 20px 20px 20px 20px;
  
}

.fa-file-video,
.fa-file-code,
.fa-info-circle {
  font-size: 2.5em;
  color: var(--icon-color);
}

.fa-file-code {
  position: absolute;
  right: 500px;
  width: 30px;
}

.fa-file-video {
  width: 30px;
}

.fa-file-code {
  display: none;
}

.fa-file-code:hover,
.fa-file-video:hover {
  cursor: pointer;
}

#info-circle {
  position: relative;
  z-index: 9;
  width: 30px;
  left: 94%;
  bottom: 89.5%;
}

#info-circle_code {
  display: none;
  position: relative;
  width: 30px;
  left: 94%;
  bottom: 89.5%;
}

#infodivvideo {
  margin-left: 10px;
  display: none;
  position: absolute;
  width: 42.6rem;
  height: 27.8rem;
  bottom: 0%;
}

#infodivh1 {
  margin-top: 0;
  margin-left: 16px;
  font-size: 5rem;
  font-family: var(--araba);
  color: var(--main-color5);
}

#infop {
  margin-top: 115px;
  margin-left: -320px;
  font-size: 1.2rem;
  color: var(--icon-color);
}

#infodivframe {
  margin-left: 16px;
  display: none;
  position: absolute;
  width: 42.6rem;
  height: 27.8rem;
  bottom: 0%;
}

#infodivframeh1 {
  margin-top: 0;
  margin-left: 16px;
  font-size: 5rem;
  font-family: var(--araba);
  color: var(--main-color5);
}

#infoframep {
  margin-top: 115px;
  margin-left: -200px;
  font-size: 1.2rem;
  color: var(--icon-color);
}

#titlediv {
  color: white;
  text-decoration: none;
} 

#fv {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 14vw;
  font-family: var(--araba);
}

/*! ----------------------------- TIMKEN ------------------------------- */
/** ---------------------------- SNIPE-IT ------------------------------ */

#div_principale_projet_snipeit {
  position: relative;
  margin: 20px auto;
  width: 49.375rem;
  height: 27.813rem;
}

#video_projet-snp {
  margin-bottom: -5%;
  width: 100%;
  height: 100%;
  border: outset;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
}

#frame_projet-snp {
  margin-bottom: -5%;
  display: none;
  border: outset;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 20px 20px;
}

#info-circle-snp {
  position: relative;
  width: 30px;
  left: 94%;
  bottom: 89.5%;
}

#info-circle_code-snp {
  display: none;
  position: relative;
  width: 30px;
  left: 94%;
  bottom: 2.5%;
}

#titlediv-snp {
  position: absolute;
  text-align: center;
  width: 49.375rem;
  font-size: 10rem;
  font-family: var(--araba);
}

#infodivvideo-snp {
  margin-left: 10px;
  display: none;
  position: absolute;
  width: 42.6rem;
  height: 27.8rem;
  bottom: 0%;
}

#infodivh1-snp {
  margin-top: 0;
  margin-left: 16px;
  font-size: 5rem;
  font-family: var(--araba);
  color: var(--main-color5);
}

#infop-snp {
  margin-top: 115px;
  margin-left: -320px;
  font-size: 1.2rem;
  color: var(--icon-color);
}

#infodivframe-snp {
  margin-left: 10px;
  display: none;
  position: absolute;
  width: 42.6rem;
  height: 27.8rem;
  bottom: 0%;
}

#infodivframeh1-snp {
  margin-top: 0;
  margin-left: 16px;
  font-size: 5rem;
  font-family: var(--araba);
  color: var(--main-color5);
}

#infoframep-snp {
  margin-top: 115px;
  margin-left: -320px;
  font-size: 1.2rem;
  color: var(--icon-color);
}

/*! ---------------------------- SNIPE-IT ------------------------------ */
