@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cinzel:wght@600&family=Secular+One&family=Vujahday+Script&family=Yuji+Hentaigana+Akari&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500&family=Bebas+Neue&family=Josefin+Sans:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

:root {
  --backroundColor: #083a59;
  --color1: #105773;
  --color2: #20788c;
  --shadowColor: #5aadbf;
  --iconColor: #e4edf2;

  --abril: "Abril Fatface", cursive;
  --cinzel: "Cinzel", serif;
  --secular: "Secular One", sans-serif;
  --vujah: "Vujahday Script", cursive;
  --yuji: "Yuji Hentaigana Akari", cursive;
  --araba: "Amatic SC", cursive;

   scrollbar-width: none;

}

::-webkit-scrollbar {
  width: 0;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--backroundColor);
}

/** ------------------------------ HEADER ------------------------------ */

.header-menu_header-buttons {
  display: flex;
  justify-content: right;
  margin: 0.3em 4.5em;
  flex-wrap: nowrap;
  padding: 0.1%;
  flex-direction: row-reverse;
}

.fa-chevron-circle-down,
.fa-backward,
.fa-home {
  font-size: 3rem;
  color: var(--color2);
  background-color: transparent;
}

.fa-backward,
.fa-chevron-circle-down {
  margin: auto 0.2em;
}
.fa-chevron-circle-down-hover,
.fa-backward:hover,
.fa-home:hover {
  color: var(--iconColor);
  cursor: pointer;
  transform: scale(1.09);
  text-shadow: -0.5px 0 var(--shadowColor), 0 0.5px var(--shadowColor),
    0.5px 0 var(--shadowColor), 0 -0.5px var(--shadowColor);
}
.fa-chevron-circle-down-hover,
.fa-backward:hover,
.fa-home:hover {
  transition: All 0.9s;
}

/*! ------------------------------ HEADER ------------------------------ */
/** ------------------------------ FOOTER ------------------------------ */

footer {
  position: absolute;
  height: 25px;
  width: 100%;
  text-align: center;
  bottom: 0;
  color: var(--color1);
}

#footerspan:hover {
  transition: All 0.8s;
  color: var(--iconColor);
}

/*! ------------------------------ FOOTER ------------------------------ */
/** ------------------------------ ERROR ------------------------------- */

#titre-notfound {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 10rem;
  font-weight: 100;
  font-family: var(--abril);
  color: var(--iconColor);
  text-shadow: -0.5px 0 var(--shadowColor), 0 0.5px var(--shadowColor),
    0.5px 0 var(--shadowColor), 0 -0.5px var(--shadowColor);
}

#p-notfound {
  width: 100%;
  margin: auto;
  font-size: 5rem;
  text-align: center;
  font-weight: 800;
  color: var(--iconColor);
  font-family: var(--abril);
  text-shadow: -0.5px 0 var(--shadowColor), 0 0.5px var(--shadowColor),
    0.5px 0 var(--shadowColor), 0 -0.5px var(--shadowColor);
}

#shtml-errors-server-return-this {
display: none;
}

/*! ------------------------------ ERROR ------------------------------- */
/** -------------------------- COMMING SOON ---------------------------- */

.content {
  position: absolute;
  top: 45%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 320px;
  border-color: black;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

/*! -------------------------- COMMING SOON ---------------------------- */
/** ------------------------------ INDEX  ------------------------------ */
/** -------------------------- MENU DÉROULANT -------------------------- */

ul.drop a {
  font-family: var(--abril);
  font-size: 1.2em;
}

ul.drop,
ul.drop li,
ul.drop ul {
  list-style: none;
  margin: -0.4px;
  padding: 0;
  color: var(--iconColor);
  text-align: end;
}

ul.drop {
  position: absolute;
  z-index: 597;
  float: left;
}

ul.drop li {
  line-height: 1.5em;
  vertical-align: middle;
  transform: scale(1);
  padding: 1.08px;
}

ul.drop ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
}

ul.drop li ul {
  width: 1000%;
  max-width: 265px;
  margin: 1px -12.5em;
}

ul.drop li.menuhover:hover > ul {
  visibility: visible;
}

header div.header-menu_header-buttons .header-nav ul li ul li a {
  color: var(--iconColor);
  text-decoration: none;
}

header div.header-menu_header-buttons .header-nav ul li ul li a:hover {
  transform: scale(1.02);
  text-shadow: -0.5px 0 var(--shadowColor), 0 0.5px var(--shadowColor),
    0.5px 0 var(--shadowColor), 0 -0.5px var(--shadowColor);
}

/** -------------------------- MENU DÉROULANT -------------------------- */
/** ------------------------------ BUTTONS ------------------------------ */

#first_button_div {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.fa-circle {
  padding: 0.3vh;
  margin-top: 5vh;
  font-size: 1.5em;
}

.btn1 {
  animation: bounce 1.2s ease infinite alternate-reverse;
}
.btn2 {
  animation: bounce 1.4s ease infinite alternate-reverse;
}
.btn3 {
  animation: bounce 1.6s ease infinite alternate-reverse;
}

.btn1,
.btn2,
.btn3 {
  color: var(--iconColor);
}
.btn1:hover {
  /* color: #892e88; */
  color: #debeca;
}
.btn2:hover {
  /* color:#173d20; */
  color: #acbda4;
}
.btn3:hover {
  /* color: #f89b3b; */
  color: #facc9a;
}
@keyframes bounce {
  from {
    transform: translateY(1.25vh);
  }
  to {
    transform: translateY(1vh);
  }
}

/** ------------------------------ BUTTONS ------------------------------ */
/** ------------------------------ SLIDES ------------------------------ */

#slides {
  width: 100%;
  height: 33vh;
  margin-top: 5.5vh;
  display: flex;
  justify-content: center;
}

#img-centrale {
  width: 100%;
  height: 100%;
  border-radius: 22.5px 22.5px 22.5px 22.5px;
  border: solid;
  border-width: 4px; 
  border-color: var(--shadowColor);
}

#img-scnd {
  width: 100%;
  height: 60%;
  border-radius: 25.5px 25.5px 25.5px 25.5px;
  margin-top: 20%;
  margin-left: -20%;
}

#img-thrd {
  width: 100%;
  height: 60%;
  margin-top: 20%;
  margin-left: 22%;
  border-radius: 25.5px 25.5px 25.5px 25.5px;
}

/* 
#img-scnd {
  transform: rotateX(9deg) rotateY(45deg) rotateZ(0deg) translateX(0px)
    translateY(-35px) translateZ(0px) scale(1.375) skewY(3deg);
  -moz-transform: rotateX(9deg) rotateY(45deg) rotateZ(0deg) translateX(0px)
    translateY(-35px) translateZ(0px) scale(1.375) skewY(3deg);
  -ms-transform: rotateX(9deg) rotateY(45deg) rotateZ(0deg) translateX(0px)
    translateY(-35px) translateZ(0px) scale(1.375) skewY(3deg);
  -o-transform: rotateX(9deg) rotateY(45deg) rotateZ(0deg) translateX(0px)
    translateY(-35px) translateZ(0px) scale(1.375) skewY(3deg);
}

#img-thrd {
  transform: rotateX(-9deg) rotateY(-49deg) rotateZ(0deg) translateX(-50px)
    translateY(-20px) translateZ(0px) scale(1.4) skewY(-15deg);
  -moz-transform: rotateX(-9deg) rotateY(-49deg) rotateZ(0deg) translateX(-50px)
    translateY(-20px) translateZ(0px) scale(1.4) skewY(-15deg);
  -ms-transform: rotateX(-9deg) rotateY(-49deg) rotateZ(0deg) translateX(-50px)
    translateY(-20px) translateZ(0px) scale(1.4) skewY(-15deg);
  -o-transform:rotateX(-9deg) rotateY(-49deg) rotateZ(0deg) translateX(-50px)
    translateY(-20px) translateZ(0px) scale(1.4) skewY(-15deg);
  } */

#img-centrale:hover {
  cursor: help;
}

/** ------------------------------ SLIDES ------------------------------ */
/** ---------------------------- CONTAINER ----------------------------- */

#container-menu-central {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
  width: 100%;
  overflow: hidden;
}

#prenom,
#nom {
  font-size: 8.5vw;
  color: var(--iconColor);
  font-family: var(--araba);
  margin-right: 2%;
  margin-left: 2%;
}

.fa-address-card {
  font-size: 3.5vw;
  color: var(--color2);
  margin-top: 100%;
}

.fa-address-card:hover {
  transition: All 0.8s;
  color: var(--iconColor);
}

/** ---------------------------- CONTAINER ----------------------------- */
/*! ------------------------------ INDEX  ------------------------------ */
/** -------------------------- PRESENTATION ---------------------------- */

/* Dont do this page */

/*! -------------------------- PRESENTATION ---------------------------- */
/** --------------------------- COMPRENDRE ----------------------------- */

/* Do this */

/*! --------------------------- COMPRENDRE ----------------------------- */
/** ---------------------------- PROJETS ------------------------------- */

/* Dont do this page */

/*! ---------------------------- PROJETS ------------------------------- */
/** ----------------------------- TIMKEN ------------------------------- */

/* Do this */

#div_principale_projet {
  display: flex;
  justify-content: center;
  margin-top: 12vh;
  width: 100%;
  height: 100%;
}

#video_projet {
  position: relative;
  z-index: 1;
  width: 45%;
  height: 100%;
  border: outset;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
  overflow: hidden;
}

#frame_projet {
  position: relative;
  width: 45%;
  height: 50.55vh;
  display: none;
  border: outset;
  border-radius: 20px 20px 20px 20px;
}

.fa-file-video,
.fa-file-code,
.fa-info-circle {
  font-size: 2.5em;
  color: var(--icon-color);
}

.fa-file-code {
  position: absolute;
  right: 500px;
  width: 30px;
}

.fa-file-video {
  width: 30px;
}

.fa-file-code {
  display: none;
}

.fa-file-code:hover,
.fa-file-video:hover {
  cursor: pointer;
}

#info-circle {
  position: relative;
  z-index: 9;
  width: 30px;
  left: 94%;
  bottom: 89.5%;
}

#info-circle_code {
  display: none;
  position: relative;
  width: 30px;
  left: 94%;
  bottom: 89.5%;
}

#infodivvideo {
  margin-left: 10px;
  display: none;
  position: absolute;
  width: 42.6rem;
  height: 27.8rem;
  bottom: 0%;
}

#infodivh1 {
  margin-top: 0;
  margin-left: 16px;
  font-size: 5rem;
  font-family: var(--araba);
  color: var(--main-color5);
}

#infop {
  margin-top: 115px;
  margin-left: -320px;
  font-size: 1.2rem;
  color: var(--icon-color);
}

#infodivframe {
  margin-left: 16px;
  display: none;
  position: absolute;
  width: 42.6rem;
  height: 27.8rem;
  bottom: 0%;
}

#infodivframeh1 {
  margin-top: 0;
  margin-left: 16px;
  font-size: 5rem;
  font-family: var(--araba);
  color: var(--main-color5);
}

#infoframep {
  margin-top: 115px;
  margin-left: -200px;
  font-size: 1.2rem;
  color: var(--icon-color);
}

#titlediv {
  color: white;
  text-decoration: none;
}

#fv {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 14vw;
  font-family: var(--araba);
}

/*! ----------------------------- TIMKEN ------------------------------- */
/** ---------------------------- SNIPE-IT ------------------------------ */

/* Do this */

/*! ---------------------------- SNIPE-IT ------------------------------ */
