/* Fonts */

/* Import de plusieurs polices avec Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cinzel:wght@600&family=Secular+One&family=Vujahday+Script&family=Yuji+Hentaigana+Akari&display=swap');

/* 

Pour utiliser une police, utilisée la commande pour la police voulue:

font-family: 'Abril Fatface', cursive;

font-family: 'Cinzel', serif;

font-family: 'Secular One', sans-serif;

font-family: 'Vujahday Script', cursive;

font-family: 'Yuji Hentaigana Akari', cursive;

*/

/* END */

/* BODY */

body 
{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #083A59;
  /* background-color: transparent; */
}

/* END */

/* ICONS */

.fa-chevron-circle-down,
.fa-backward,
.fa-home
{
  font-size: 3em;
  color: rgb(190, 190, 190);
  background-color: transparent;
}

.fa-chevron-circle-down 
{
  transform: rotateZ(90deg);
  transition: 0.5s;
}

.fa-backward,
.fa-chevron-circle-down 
{
  margin: auto 0.2em;
}

#header 
{
  display: flex;
  justify-content: right;
  /* haut | droit | bas | gauche */
  margin: 0.3em 4.5em;
  flex-wrap: nowrap;
  padding: 0.1%;
  flex-direction: row-reverse;
}

.fa-backward:hover,
.fa-home:hover 
{
  color: white;
  transform: scale(1.09);
  transition: All 0.9s;
  text-shadow: -2px 0 black, 0 1px black,
  1px 0 black, 0 -1px black;
}

.fa-chevron-circle-down:hover 
{
  color: white;
  opacity: 1;
  transform: scale(1.09);
  transition: 0.5s;
  -webkit-transition: all 0.5s ease;
	-moz-transition:  all 0.5s ease;
  text-shadow: -2px 0 black, 0 1px black,
  1px 0 black, 0 -1px black;
}

/* END */

/* MENU DÉROULANT */

ul.drop a 
{
  font-family: 'Abril Fatface', cursive;
  font-size: 1.2em;
  text-decoration: underline;
}
 
ul.drop,
ul.drop li,
ul.drop ul 
{
  list-style:none;
  margin: -0.4px;
  padding: 0;
  color: black;
  text-align: end;
}
 
ul.drop 
{
  position: absolute;
  z-index: 597;
  float: left;
}
 
ul.drop li 
{
  line-height: 1.5em;
  vertical-align: middle;
  zoom: 1;
  padding: 1.08px;
}
 
ul.drop ul 
{
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
}

ul.drop li ul
{
  width: 1000%;
  max-width: 265px;
  /* haut | droit | bas | gauche */
  margin:6px -12.5em;
}

ul.drop li.menuhover:hover > ul 
{
  visibility: visible;
  /* background-color: red; */
}
   
header div#header .header-nav ul li ul li a
{
  color:white;
  text-decoration: none;
}

header div#header .header-nav ul li ul li a:hover 
{
  background-color: #083A59;
  zoom:1.1;
  text-shadow: -2px 0 black, 0 1px black,
  1px 0 black, 0 -1px black;
}

/* END - MENU DÉROULANT */

/* MENU CENTRALE */

.fa-circle 
{
  font-size: 1.5em;
  color: rgb(190, 190, 190);
  background-color: transparent;
}

.img1 
{
  animation: bounce 1.2s ease infinite alternate;
}

.img2
{
  animation: bounce 1.3s ease infinite alternate; 
}

.img3 
{
  animation: bounce 1.4s ease infinite alternate; 
}

.fa-circle:hover 
{
  transform: scale(1.15);
  color:violet;
}

#src-img-centrale 
{
 max-height: 400px;
 max-width: 200px;
 display: flex;
 justify-content: center;
 margin: 4em auto 3em;
} 

#img-centrale 
{
  width: 800px;
  height: 350px;
  border-radius: 22.5px 22.5px 22.5px 22.5px;
  box-shadow: 1.8px 1.8px black;
  /* animation: bounce 0.7s ease infinite alternate;  */
}

#img-centrale:hover 
{
  zoom:1.005;
  box-shadow: 0.5px 0.5px BLACK;
  cursor:help;
  /* animation: bounce 0.5s ease infinite alternate;  */
}

#src-img-scnd, 
#src-img-thrd 
{
  max-height: 400px;
  max-width: 130px; 
  filter: blur(4.5px);
  display: flex;
}

#img-scnd,
#img-thrd 
{
  width: 250px;
  height: 250px;
  /* animation: bounce 1s ease infinite alternate;  */
  display: flex;
}

#img-scnd:hover,
#img-thrd:hover
{
  cursor:zoom-in;
}

#img-scnd 
{
  justify-content: left;
  /* position: absolute; */
  margin: -23em 4em;
}

#img-thrd 
{
  justify-content: right;
  margin: -23em 86em;
}

.btn-select-img 
{
  display: flex;
  justify-content: center;
  margin: -10px 48%;
}

.img2 
{
  margin: auto 0.7vh;
}

.img4 
{
  margin: auto 0.7vh;
}

@keyframes bounce
{ 
  from {
    transform: translateY(0);
  } to {
    transform: translateY(-5px);
  }  
}

/* END */

/* IMAGE CENTRALE (LOGO + IDENTITÉ) */

#menu-central 
{
display: flex;
justify-content: center;
margin: auto;
margin-top: 45px;
border: white;
border-style:inset;
height: 150px;
width: 80%;
max-width: 100%;
}


/* END */

/* RESPONSIVE */

/* 

Le fait d'avoir les deux images sur le côtés quand on est sur petit écran n'est absolument pas pratique,

Donc sachant que les images tournent toute façons aléatoirement, ainsi que le fait qu'il y ait des bouttons permettant de changer d'images,

J'ai décidé de les rendre invisibles lors que l'utilisateurs n'est plus sur un écran assez grand.

Token GIT

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 

*/


@media screen and (max-width: 1280px) 
{
  header div#header .header-nav ul li ul li a 
  {
      background-color: red;
  }
  header div#header .header-nav ul li ul li a:hover
  {
      background-color: white;
  }
  #menu-central 
  {
      width: 80%;
  }
}

@media screen and (max-width: 800px) 
{
  #menu-central 
  {
      width: 80%;
  }
  #img-centrale  
  {
      width: 100%;
      height: 100%;
  }
}

@media screen and (max-width: 1670px) /* OK */
/* 

Tant que l'écran n'est pas en full screen sur un écran supérieur à 1670px, les deux images de côtés sont mis en display: none;

*/

{
#src-img-scnd, 
#src-img-thrd 
{
  display: none;
}
}

@media screen and (min-width: 1671px) /* OK */

/* 

Les deux autres images appraissent seulement sur un écran de min-width: 1280px 

Aide à l'affichage du menu, celui-ci étant caché par la div centrale, 
Mise en évidence du menu déroulant, ainsi qu'à l'hover des liens.

*/

{
  #menu-central /* MENU CENTRALE */
  {
      width: 80%;
      height: 300px;
      margin-bottom: 85px;
  }  
  header div#header .header-nav ul li ul li a /* MENU DÉROULANT */
  {
      background-color: red;
  }
  header div#header .header-nav ul li ul li a:hover /* HOVER SUR CHAQUE LIENS */
  {
      background-color: white;
  }
}

/* END */