.contain-all-skills {
  padding: 60px;
  margin-right: 12px;
  margin-left: 12px;
  width: 100%;
  max-width: 900px;
  min-height: 900px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  .skills-navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 30px;

    .skill-category {
      transition: color 200ms ease-in;
      width: 100px;
      display: flex;
      flex-direction: column;
      font-size: 34px;
      font-family: $apple;
      font-weight: 700;
      text-align: center;
      color: $light-gray;

      &.selected {
        transition: color 200ms ease-in;
        color: $medium-blue;
        span {
          background-color: $medium-blue;
        }
      }

      &:hover {
        transition: color 200ms ease-in;
        color: $medium-blue;
        span {
          background-color: $medium-blue;
        }
        cursor: pointer;
      }

      span {
        background-color: $light-gray;
        width: 100%;
        height: 4px;
      }
    }
  }

  .all-skills {
    width: 100%;

    .show-more-skills {
      display: flex;
      justify-content: center;
      margin-top: 25px;
    }

    .category-skills,
    .category-skills-parts {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 25px;
    }

    .category-skills .skill {
      border-radius: 8px;
      box-shadow: 0px -1px 6px 4px var(--shadow);
      width: 160px;
      height: 160px;
      background-color: $light-white;
      display: flex;
      flex-direction: row;

      &:hover {
        transition: transform 375ms ease-in;
        transform: scale(1.03);
      }

      .skill-part {
        flex: 1.8;
        height: 100%;
        border-right: solid 1px var(--shadow);

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 75px;
        }
      }
    }
  }
}

#__MoreInformations {
  margin-top: 280px;
  width: 100%;
  min-height: 620px;
  height: auto;
  box-shadow: 0px -1px 6px 4px rgb(0 0 0 / 10%);
  background-color: $dark-blue;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 0;
  gap: 0;
  div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    &.contain-contacts {
      display: flex;
      flex-direction: column;
      div {
        padding: 20px;
        a {
          text-decoration: none;
          font-size: 20px;
          padding: 6px;
          span {
            color: $white;
          }
        }
      }
    }

    &.contain-map {
      width: 100%;
      height: 100%;
      iframe {
        border-radius: 8px;
        height: 400px;
        width: 500px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .skills-navbar {
    justify-content: center !important;
  }
  .category-skills {
    justify-content: center !important;
  }
  #__MoreInformations {
    flex-direction: column !important;
    div div a,
    div div a span {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 500px) {
  .skills-navbar {
    flex-direction: column !important;
    align-items: center !important;
    .contain-map {
      iframe {
        height: auto;
        width: auto;
      }
    }
  }
}
