.__news__ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  .__search__article__ {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .__contain__search__ {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      label input,
      div {
        height: calc(2.25rem + 10px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: $white;
        background-clip: padding-box;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      label .__search__input__ {
        display: block;
        width: 100%;
        border-left: 1px solid #ced4da;
        border-top: 1px solid #ced4da;
        border-bottom: 1px solid #ced4da;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
      }
      .__submit__search__ {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ced4da;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        &:hover {
          cursor: pointer;
        }
        &:active {
          transform: scale(1.02);
          box-shadow: 3px 2px 5px 1px var(--shadow);
        }
      }
    }

    .show_all {
      margin-top: 0.725rem;

      a {
        font-weight: normal;
        font-size: 14px;
        color: var(--text-color) !important;
        &:hover {
          cursor: pointer;
        }
      }

      &.disabled {
        a {
          font-weight: lighter;
          color: $light-gray;
          &:hover {
            color: $light-gray;
          }
        }
      }
    }
  }

  .__news__container__ {
    width: 100%;
    margin-top: 75px;
    max-width: 1200px;
    margin-left: 30px;
    margin-right: 30px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    .__news__category__ {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      .__news__category__title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        h2 {
          margin-left: 5px !important;
          display: inline-block !important;
          font-weight: 700 !important;
          font-size: 1.8rem !important;
          color: var(--subtitle-color) !important;
        }
      }
      
      .__news__category__cards__ {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow: hidden;
        // max-height: 500px;
        gap: 30px;
        align-items: center;
        flex-direction: row;
        width: 100%;
      }
      
      .__news__category__more__ {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-right: 20px;
        margin-top: 25px;
      }
    }
  }
}