/.idea
/.vscode
/node_modules
node_modules/
/vendor
/vendor/
/public/js
/public/css
public/storage
public/hot
public_html/storage
public_html/hot
.env
.env.backup
npm-debug.log
yarn-error.log
bootstrap/compiled.php
app/storage/
storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
build