@import "KNACSS/__abstracts__";
@import "KNACSS/__base__";
@import "KNACSS/__utils__";
@import "KNACSS/__components__";
@import 'assets/fonts';
@import 'assets/init';

/* START --- Components */

@import 'components/arrow';
@import 'components/navbar';
@import 'components/footer';
@import 'components/errors';
@import 'components/more';
@import 'components/news-cards';
@import 'components/cards';
@import 'components/about';

/* END --- Components */

/* START --- Templates */

@import 'templates/homepage';
@import 'templates/projects';
@import 'templates/news';
@import 'templates/news{title}';
@import 'templates/news{keyword}';

/* END --- Templates */

/* START --- Responsive */

@import 'templates/@media/homepage';
@import 'templates/@media/projects';

/* END --- Responsive */

/* START --- Keyframes */

@import 'keyframes/globals';

/* END --- Keyframes */

/* START --- Globals */

.__element__navbar__extends__ {
    animation: __element__navbar__extends__ 1.275s forwards;
}

.__reverse__element__navbar__extends__ {
    animation: __reverse__element__navbar__extends__ 1.275s forwards;
}

.hidden {
    display: none!important;
}

.invisible {
    visibility: hidden!important;
}

/* END --- Globals */