@import "KNACSS/__abstracts__";
@import "KNACSS/__base__";
@import "KNACSS/__utils__";
@import "KNACSS/__components__";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:wght@200&display=swap');

/* Globals */

$__backgroundColor__: #F6EFE7;
$_family_poppins: 'Poppins', sans-serif;
$_family_iconsolata: 'Inconsolata', monospace;

.hidden {
    display: none!important;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: $__backgroundColor__;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* END - Globals */
/* Navbar */

$__navbarLinksColor__: #949494;
$__hiddenNavbar__: -1000px;
$__navbarBackgroundColor__: #99BFAD;

.__navbar__ {
    width: 100%;
    height: 115px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .burger-button {
        z-index: 5;
        position: fixed;
        top: 40px;
        left: 40px;
    }

    .__github__icon__ {
        width: 32px;
        z-index: 10;
        height: 100%;
        display: flex;
        justify-content: center;
        margin-right: 40px;

        a {
            text-decoration: none;

            i {
                margin-top: 40px;
                font-size: 32px;
                color: #595959;
                border-radius: 50%;

                &:hover {
                    cursor: pointer;
                    color: black;
                }

            }
        }

    }

    .burger-element {
        z-index: 4;
        position: fixed;
        width: 300px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $__navbarBackgroundColor__;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin-left: $__hiddenNavbar__;

        .nav-active .nav-content .nav-title {
            color: black;
            cursor: pointer;
        }

        a {

            &:not(.nav-active) {
                .hover_loading_nav {
                    width: 0;
                    height: 1px;
                    border-top: solid 1px black;
                }

                .loading__navbar_animation_up {
                    animation: LoadingNavbarUp 0.6s ease-in-out forwards;
                }

                .loading__navbar_animation_down {
                    animation: LoadingNavbarDown 0.6s ease-in-out forwards;
                }
            }

            &:hover .nav-content .nav-title {
                color: black;
                transition: color 1s;
            }

            &:first-child {
                margin-top: 30px;
            }

            width: 100%;
            height: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            .nav-content {

                .nav-title {
                    font-size: 40px;
                    color: $__navbarLinksColor__;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-weight: lighter;
                    font-family: $_family_iconsolata;
                }

            }
        }

    }

    .NavbarUpAnimation {
        animation: NavbarUpAnimation 0.25s ease-in forwards;
    }

    .NavbarReverseAnimation {
        animation: NavbarReverseAnimation 0.25s ease-in forwards;
    }

}

@keyframes LoadingNavbarUp {
    0% {
        width: 0;
    } 100% {
        width: 100%;
    }
}

@keyframes LoadingNavbarDown {
    0% {
        width: 100%;
    } 100% {
          width: 0;
      }
}

@keyframes NavbarUpAnimation {
    0% {
        margin-left: $__hiddenNavbar__;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes NavbarReverseAnimation {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: $__hiddenNavbar__;
    }
}

@media screen and (max-width: 600px) {
    .__navbar__ {
        .burger-button {
            top: 20px;
            left: 20px;
        }
        .burger-element {
            width: 100%;
        }
        .__github__icon__ {
            margin-right: 20px;
            a {

                i {
                    margin-top: 20px;

                    &:hover {

                    }

                }
            }

        }
    }
}

/* END - Navbar */
/* Footer */

.__footer__ {
    width: 100%;
    height: 20px;
    bottom: 4px;
    display: none;
    justify-content: center;
    align-items: center;

    .__footer__main__ {
        color: #8C8C8C;
        margin-right: 12px;
        width: auto;
        height: auto;
        font-size: 14px;
        font-weight: lighter;
        font-family: $_family_poppins;
    }

}

/* END - Footer */
/* Arrow */

.__arrow__ {
    margin-top: 60px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .__page__arrow__ {
        width: 40px;
        border-radius: 50%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        &:hover {
            border: solid 1px black;
            cursor: pointer;
            animation: AnimationArrowCircle 1.5s forwards;
        }

        &:hover ._arrow_ {
            cursor: pointer;
            border-color: black;
        }

            ._arrow_ {
                animation: bounceArrow 2s ease-in-out infinite;
                border: solid #595959;
                border-width: 0 3px 3px 0;
                display: inline-block;
                margin-bottom: 4px;
                padding: 8px;
                transform: rotate(45deg);

            }

        }

}

@keyframes bounceArrow {
    0% {
        margin-bottom: 4px;
    }
    50% {
        margin-bottom: 8px;
    }
    100% {
        margin-bottom: 4px;
    }
}

@keyframes AnimationArrowCircle {
  0% {
  }
  100% {
  }
}

/* END - Arrow */
/* 404 Page */

.__page_not_found__ {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* END - 404 Page*/
/* Home */

.__homepage__presentation__ {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .__presentation__ {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-height: 400px;
        height: 400px;
        align-items: center;
        border-bottom: solid 2px black;
        box-shadow: 0 20px 10px -15px #111;
        -webkit-box-shadow: 0 20px 10px -15px #111;

        &.moov_this_element {
            animation: MoovElement 0.2s forwards;
        }

        &.moov_this_element_reverse {
            animation: ReverseMoovElement 0.2s forwards;
        }

        .__presentation__separator__ {
            height: 400px;
            background-color: black;
        }

        .__main__presentation__ {
            display: flex;
            flex-direction: row;

            .__me__ {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .name {
                    font-family: $_family_poppins;
                    font-weight: 800;
                    letter-spacing: 1px;
                    font-size: 6.5rem;
                    text-transform: uppercase;
                }

                .job {
                    font-family: $_family_poppins;
                    letter-spacing: 1px;
                    font-size: 4.2rem;
                    font-weight: 500;
                }
                .__language__ {
                    margin-top: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 60px;

                    .language_icon {
                        width: 2.2rem;

                        &:last-child {
                            width: 3.5rem;
                        }

                    }
                }

            }
            .__main__asset__ {
                height: 400px;
                display: flex;
                align-items: end;

                .__asset__ {
                    height: 300px;
                    object-fit: cover;
                }

            }

        }
    }

}

@media screen and (max-width: 1200px){
    @keyframes MoovElement {
        0% {
            margin-left: 20px;
        }
        100% {
            margin-left: 200px;
        }
    }

    @keyframes ReverseMoovElement {
        0% {
            margin-left: 200px;
        }
        100% {
            margin-left: 20px;
        }
    }
    .__homepage__presentation__ {

        .__presentation__ {

            .__presentation__separator__ {

            }

            .__main__presentation__ {

                .__me__ {

                    .name {
                        font-size: 4rem;
                        margin-top: 100px;
                    }

                    .job {
                        font-size: 2.5rem;
                    }
                    .__language__ {
                        margin-top: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 50px;

                        .language_icon {
                            width: 2.2rem;

                            &:last-child {
                                width: 3.5rem;
                            }

                        }
                    }

                }
                .__main__asset__ {
                    display: none;

                    .__asset__ {

                    }

                }

            }
        }

    }
}

@media screen and (max-width: 500px){
    .__homepage__presentation__ {

        .__presentation__ {

            .__presentation__separator__ {

            }

            .__main__presentation__ {

                .__me__ {

                    .name {
                        font-size: 2rem;
                        margin-top: 200px;
                    }

                    .job {
                        font-size: 1.5rem;
                    }
                    .__language__ {
                        margin-top: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 25px;

                        .language_icon {
                            width: 90px;

                            &:last-child {
                                width: 140px;
                            }

                        }
                    }

                }
                .__main__asset__ {
                    display: none;

                    .__asset__ {

                    }

                }

            }
        }

    }
}

@media screen and (min-height: 900px) {
    .__homepage__presentation__ {
        height: 550px;
        align-items: center;
    }
}

@keyframes rotateAsset {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes MoovElement {
    0% {
        margin-left: 20px;
    }
    100% {
        margin-left: 280px;
    }
}

@keyframes ReverseMoovElement {
    0% {
        margin-left: 280px;
    }
    100% {
        margin-left: 20px;
    }
}

.__spoiler__about__ {
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    .__about__card__ {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

            .__about__ {
                margin-top: 60px;
                text-align: justify;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 40%;
                height: 400px;

                ._about_descript_ {
                    margin-left: 30px;
                    text-align: justify;
                    font-size: 18px;
                    font-family: $_family_poppins;
                    letter-spacing: 1px;
                }

                .__more__about__ {
                    margin-top: 75px;

                }

            }

        }
}

.__spoiler__cards__ {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;

    .__cards__ {
        gap: 30px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .__article__card__ {
            height: 350px;
            width: 275px;
            background-color: white;
            display: flex;
            flex-direction: column;
            border-radius: 10px;

            .__article__image__ {
                width: 100%;

                img {
                    width: 100%;
                    height: 175px;
                    border-bottom: solid 1px black;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
            }

            .__article__date__ {
                flex: .5;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                time {
                    font-size: 14px;
                    font-family: $_family_poppins;
                    font-weight: 600;
                }
            }

            .__article__title__ {
                flex: 2px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    text-align: center;
                    font-size: 13px;
                    font-family: $_family_poppins;
                    margin-left: 8px;
                    margin-right: 8px;
                    font-weight: 500;
                }
            }

            .__article_url__ {
                width: 100%;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: none;

                    button {
                        width: 145px;
                        position: relative;
                        margin-bottom: 3px;
                        margin-top: 5px;
                        display: block;
                        background-color: #cdcdfd;
                        border-color: #cdcdfd;
                        border-radius: 0.25rem;
                        padding: 0.475rem 0.85rem;
                        color: white;
                        line-height: 1.5;
                        text-align: center;

                        &:hover {
                            cursor: pointer;
                            filter: hue-rotate(90deg);
                        }

                    }
                }
            }

        }

    }
}


.__more__button__ {
    width: 100px;
    height: 45px;
    border-radius: 12px;
    border: solid 1px #cdcdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cdcdfd;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

    &:hover {
        transition: All 0.35s;
        cursor: pointer;
        filter: hue-rotate(90deg);
        a span {
            font-weight: 600;
        }
    }

    a {
        text-decoration: none;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 18px;
            letter-spacing: 1px;
            font-family: $_family_poppins;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

/* END - Home */