/* Start --- Globals variables */

$DarkBlue: #242B40;
$Blue: #1B208C;
$FlashBlue: #52B3D9;
$MoyBlue: #464AA6;
$LightBlue: #787CBF;
$Clay: #F2BC79;
$Orange: #F2C166;
$LightOrange: #F2D49B;
$BrokenWhite: #F2F2F2;
$BrokenLightWhite: #F2F2F0;
$LightBlack: #181717;
$LightGray: #595959;
$ShadowDark: rgba(0, 0, 0, 0.1);
$Dark: rgba(0, 0, 0, 1);
$poppins: 'Poppins', sans-serif;
$iconsolata: 'Inconsolata', monospace;

/* End --- Globals variables */
/* Start --- Globals class */

.hidden {
  display: none!important;
}

.invisible {
  visibility: hidden!important;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.all {
  -moz-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: $BrokenWhite;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

.section-explication {
  margin-top: 60px;
  max-width: 600px;
  text-align: justify;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 80px;
  margin-right: 80px;
}

/* End --- Globals class */
/* Start --- Navbar extends animation */

.__element__navbar__extends__ {
  animation: __element__navbar__extends__ 1.275s forwards;
}

.__reverse__element__navbar__extends__ {
  animation: __reverse__element__navbar__extends__ 1.275s forwards;
}

@keyframes __element__navbar__extends__ {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 140px;
  }
}

@keyframes __reverse__element__navbar__extends__ {
  0% {
    margin-left: 140px;
  }
  100% {
    margin-left: 0;
  }
}

/* End --- Navbar extends animation */
