.__documentation__card__ {
  color: var(--text-color_constrast);
  width: 400px;
  max-width: 400px;
  height: 450px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $white;
  border-radius: 12px;
  position: relative;
  box-shadow: 0px -1px 6px 4px var(--shadow);

  .__documentation__card__title__ {
    width: 100%;
    min-height: 175px;
    max-height: 175px;
    display: flex;
    text-align: justify;
    align-items: center;
    .title {
      margin-left: 16px;
      margin-right: 16px;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      letter-spacing: 0;
      color: $black;
      font-family: $poppins;
    }
  }

  .__documentation__card__author__ {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    font-family: $poppins;
    font-style: italic;
    time {
      font-weight: bold;
      font-size: 13px;
    }
    .author {
      margin-right: 16px;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .__documentation__card__description__ {
    height: 140px;
    .description {
      margin-left: 16px;
      margin-right: 16px;
      font-family: $poppins;
      font-size: 18px;
      letter-spacing: 0;
      font-style: normal;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .__documentation__card__ {
    max-width: 280px;
    .__documentation__card__title__ {
      text-align: center;
    }
    .__documentation__card__description__ {
      .description {
        font-size: 15px;
      }
    }
    .__documentation__card__author__ {
      font-size: 10px;
      time {
        font-size: 11px;
      }
    }
  }
}
