.cursor {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: yellow;
  transition: all 100ms ease;
  border-radius: 50%;
  mix-blend-mode: difference;
  z-index: 99;
}
