.__footer__ {
  margin-top: 240px;
  width: 100%;
  height: 45px;
  background-color: $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .__footer__settings__ {
    position: absolute;
    left: 19.5px;
    a i {
      color: var(--text-color)!important;
    }
    a i:hover {
      color: var(--details)!important;
    }
  }

  .__footer__main__ {
    text-align: center;
    width: auto;
    color: $light-white;
    margin-right: 12px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: lighter;
    font-family: $poppins;

    &:hover {
      transition: All ease-in-out 220ms;
      cursor: pointer;
    }

    .__footer__main__link__ {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: $light-gray;
      }
    }
  }
}
