.__more__button__ {
  min-height: 45px;
  min-width: 100px;
  max-width: 100px;
  max-height: 45px;
  width: 100px;
  height: 45px;

  .__more__button-action {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: solid 3px var(--button-background);
    background-color: var(--button-background);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(0.98);
      box-shadow: 3px 2px 5px 1px var(--shadow);
    }
  }

  .__more__button-text {
    display: flex;
    padding: 1.125rem;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: $poppins;
    text-transform: uppercase;
  }
}
