.__navbar__ {
  width: 100%;
  height: 115px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .burger-button {
    z-index: 5;
    position: fixed;
    top: 40px;
    left: 40px;
  }

  .__navbar__features__ {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 100%;
    align-items: center;
    margin-right: 40px;

    a {
      width: 39px;
      height: 39px;
      text-decoration: none;
      border-radius: 50%;

      img {
        width: 39px;
        height: 39px;
        border-radius: 50%;
        filter: var(--icon-filter-invert);
      }

      &:active {
        transform: scale(0.98);
        box-shadow: 3px 2px 5px 1px var(--shadow);
      }
    }

    .__lang__ {
      margin-left: -3px;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      border-radius: 50%;
      .__lang__main__ {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        img {
          filter: none;
          width: 35px;
          height: 35px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .__theme__ {
      width: 33px;
      height: 33px;
      display: flex;
      align-items: center;
      border-radius: 50%;

      .__theme__main__ {
        height: 33px;
        width: 33px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &#dark {
          transition: transform;
          transform: rotateX(360deg);
          background-color: transparent;
          img {
            width: 30px;
            height: 30px;
          }
        }

        &#light {
          transition: background-color 150ms;
          background-color: $light-black;
          img {
            width: 20px;
            height: 20px;
          }
        }

        img {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .burger-element {
    z-index: 4;
    position: fixed;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $dark-blue;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin-left: -1000px;

    .nav-active .nav-content .nav-title {
      color: $ocean;
      cursor: pointer;
    }

    a {
      &:not(.nav-active) {
        .hover_loading_nav {
          width: 0;
          height: 1px;
          border-top: solid 1px $ocean;
        }

        .loading__navbar_animation_up {
          animation: LoadingNavbarUp 0.6s ease-in-out forwards;
        }

        .loading__navbar_animation_down {
          animation: LoadingNavbarDown 0.6s ease-in-out forwards;
        }
      }

      &:hover .nav-content .nav-title {
        color: $ocean;
        transition: color 1s;
      }

      &:first-child {
        margin-top: 80px;
      }
      &:last-child {
        margin-bottom: 40px;
      }

      width: 100%;
      height: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      .nav-content {
        .nav-title {
          font-size: 40px;
          color: $light-white;
          text-transform: uppercase;
          font-weight: lighter;
          font-family: $iconsolata;
          min-width: 20px;
          letter-spacing: 4px;
        }
      }
    }
  }

  .NavbarUpAnimation {
    animation: NavbarUpAnimation 0.25s ease-in forwards;
  }

  .NavbarReverseAnimation {
    animation: NavbarReverseAnimation 0.25s ease-in forwards;
  }
}

@keyframes LoadingNavbarUp {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes LoadingNavbarDown {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes NavbarUpAnimation {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes NavbarReverseAnimation {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1000px;
  }
}

@media screen and (max-width: 600px) {
  .__navbar__ {
    .burger-button {
      top: 20px;
      left: 20px;
    }
    .burger-element {
      width: 100%;
    }
    .__navbar__features__ {
      margin-right: 20px;
      a,
      .__lang__,
      .__theme__ {
        margin-top: -40px;
      }
    }
  }
}
