/* START --- Component --- Arrow */

.arrow-container {
  margin-top: 80px;
  width: 100%;
  height: 80px;
  gap: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  span {
    font-size: 16px;
    font-weight: 700;
  }
  .arrow {
    background-color: yellow;
    span {
      position: absolute;
      width: 20px;
      margin-left: -10px;
      height: 20px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      opacity: 1;
      box-sizing: border-box;
      &.secondary-arrow {
        margin-top: 12px;
      }
    }
  }
}

.arrow-container .arrow .primary-arrow {
  animation: bouncePrimary 2.5s ease-in infinite;
}

.arrow-container .arrow .secondary-arrow {
  animation: bounceSecondary 2.5s ease-in infinite;
}

/* END --- Component --- Arrow */

@keyframes bouncePrimary {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-45deg) translateX(5px) translateY(-5px);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes bounceSecondary {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-45deg) translateX(5px) translateY(-5px);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes primaryArrow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

@keyframes secondaryArrow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
