.__footer__ {
  margin-top: 45px;
  width: 100%;
  height: 40px;
  background-color: #242B40;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .__footer__main__ {
    text-align: center;
    width: auto;
    color: #F2F2F0;
    margin-right: 12px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: lighter;
    font-family: $_family_poppins;

    &:hover {
      transition: All ease-in-out 220ms;
      cursor: pointer;
      color: #52B3D9;
    }

  }

}