.loader-body > *:not(.loader) {
  display: none;
}

.loader {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: $DarkBlue;
  // background-color: $BrokenWhite;

  &.disabled {
    transition: opacity 375ms ease-out;
    opacity: 0;
  }

}

canvas {
  position: absolute;
}