.__main__section__title__ {
  h1 {
    text-transform: uppercase;
    font-size: 4.4em;
  }
  .__title__loader__ {
    margin-top: -12px;
    background-color: #464AA6;
    width: 100%;
    height: 2px;
  }
}