/* START --- HOMEPAGE --- GLOBALS */

.homepage-section {
  margin-top: 210px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 82px;
  margin-bottom: 80px;
  width: 100%;
}

/* END --- HOMEPAGE --- GLOBALS */
/* START --- PRESENTATION --- SECTION */

.__homepage__presentation__ {
  // Section
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  // Content
  .__presentation__ {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 400px;
    height: 400px;
    align-items: center;
    border-bottom: solid 2px black;
    box-shadow: 0 20px 10px -15px #111;
    -webkit-box-shadow: 0 20px 10px -15px #111;
    .__presentation__separator__ {
      height: 400px;
      background-color: black;
    }
    .__main__presentation__ {
      display: flex;
      flex-direction: row;
      .__me__ {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        div {
          p {
            display: inline-block;
            position: relative;

            &:after {
              content: "";
              position: absolute;
              display: block;
              height: 100%;
              width: 3px;
              background: black;
              right: -15px;
              top: 0;
              animation: cursor 1s infinite;
            }

            &.disabled-animation-writer {
              &:after {
                width: 0;
              }
            }
          }
        }

        .name {
          min-width: 640px;
          p {
            span {
              font-family: $poppins;
              font-weight: 800;
              letter-spacing: 1px;
              font-size: 6.5rem;
              text-transform: uppercase;
            }
          }
        }

        .job {
          p {
            span {
              font-family: $poppins;
              letter-spacing: 1px;
              font-size: 4.2rem;
              font-weight: 500;
            }
          }
        }

        .__language__ {
          margin-top: 32px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 60px;
          a {
            .language_icon {
              width: 2.2rem;
            }
            &:last-child {
              .language_icon {
                width: 3.5rem;
              }
            }
          }
        }

      }
      .__main__asset__ {
        height: 400px;
        display: flex;
        align-items: end;

        .__asset__ {
          height: 300px;
          object-fit: cover;
        }

      }
    }
  }
}

/* END --- PRESENTATION --- SECTION */

/* START --- ABOUT --- SECTION */

.__spoiler__about__ {
  // Section
  min-height: 700px;
  justify-content: space-between;

  .__about__card__ {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .__about__ {
      text-align: justify;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      min-width: 120px;
      height: auto;
      ._about_descript_ {
        margin-right: 20px;
        margin-left: 20px;
        text-align: justify;
        font-weight: 700;
        font-size: 18px;
        font-family: $poppins;
        letter-spacing: 1px;
      }
      .click-to-copy-indicator {
        margin-top: 20px;
        color: $LightGray;
        font-size: smaller;
      }
      ._about_contact {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          gap: 20px;
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            a {
              text-decoration: none;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

/* END --- ABOUT --- SECTION */

/* START --- PROJECTS --- SECTION */

.__spoiler__projects__ {
  ._projects_cards_ {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
}

/* END --- PROJECTS --- SECTION  */

/* START --- BOARD --- SECTION */

.__spoiler__board__ {
  .__board__cards__ {
    max-width: 1000px;
    margin-left: 30px;
    margin-right: 30px;
    gap: 30px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;  }
}

/* END --- BOARD --- SECTION  */

/* START --- CARDS --- SECTION */

.__spoiler__cards__ {
  .__cards__ {
    max-width: 1000px;
    margin-left: 30px;
    margin-right: 30px;
    gap: 30px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

/* END --- CARDS --- SECTION */

/* START --- CONTACT --- SECTION */



/* END --- CONTACT --- SECTION*/

/* START --- ANIMATIONS */

@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateAsset {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes AnimationAboutBackground {
  from {
    background-color: white;
    width: 0;
  }
  to {
    background-color: black;
    width: 100%;
  }
}

@keyframes AnimationAboutBackgroundReverse {
  from {
    background-color: black;
    width: 100%;
  }
  to {
    background-color: white;
    width: 0;
  }
}

@keyframes AnimationAboutCards {
  from {
    bottom: -400px;
  }
  to {
    bottom: 0;
  }
}

@keyframes AnimationAboutCardsReverse {
  from {
    bottom: 0;
  }
  to {
    bottom: -400px;
  }
}

/* END --- ANIMATIONS */