#__LoginSection {
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.__form-login-admin__ {
  margin-top: 80px;
  height: 500px;
  min-height: 500px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.__form-login-admin__ * {
  font-family: $poppins;
  color: #000000;
  letter-spacing: 1px;
  outline: none;
  border: none;
}

.__form-login-admin__ h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.__form-login-admin__ label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.__form-login-admin__ input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

.__form-login-admin__ .form-submit {
  height: 75px;
  background-color: $Clay;
  margin-top: 50px;
  width: 100%;
  text-transform: uppercase;
  color: $BrokenWhite ;
  padding: 15px 0;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.5px;
  border-radius: 5px;
  cursor: pointer;

  &:active { transform: scale(0.99); box-shadow: 3px 2px 5px 1px $ShadowDark; }

}


@media screen and (max-width: 500px) {
  form {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  form {
    width: 275px;
  }
}