.__keywords__cards__ {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  .__research__ {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 38px;
    font-family: $iconsolata;
    letter-spacing: 1px;
  }
  .__keywords__cards__ {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}