.__news__ {
  width: 100%;
  height: auto;
  .__cards__categories__ {
    max-width: 1800px;
    margin-left: 30px;
    margin-right: 30px;
    gap: 30px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

  }
}