.__news__ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  .__search__article__ {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    label input, div {
      height: calc(2.25rem + 10px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: $white;
      background-clip: padding-box;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    label .__search__input__ {
      display: block;
      width: 100%;
      border-left: 1px solid #ced4da;
      border-top: 1px solid #ced4da;
      border-bottom: 1px solid #ced4da;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
    .__submit__search__ {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ced4da;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .__news__container__  {
    margin-top: 100px;
    max-width: 1200px;
    margin-left: 30px;
    margin-right: 30px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    .__news__category__ {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .__news__category__title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h2 {
          display: inline-block!important;
          font-weight: 700!important;
          font-size: 1.8rem!important;
        }

      }

      .__news__category__cards__ {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        flex-direction: row;
        width: 100%;
      }

    }

  }
}