.__keywords__cards__ {
  .__research__ {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 38px;
    font-family: $iconsolata;
    letter-spacing: 1px;
  }
}