.test {
  .__cards__ {
    width: 100%;
    height: 350px;
    max-height: 350px;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    .__cards__technology__ {
      height: 350px;
      width: 275px;
      background-color: yellow;
    }
  }
}