/* START --- Projects Page */

.__main__projects__ {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 95px;
  width: 100%;
  height: auto;

  .section-explication {
    margin-top: -36px;
  }

  .__main__projects__cards__ {
    width: 100%;
    display: flex;
    justify-content: center;
    .__main__projects__cards__elements__ {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      gap: 60px;
      width: 1200px;
    }
  }

}

/* END --- Projects Page */
