/* START --- Homepage view Responsive */

@media screen and (max-width: 1300px) {
  .__homepage__presentation__ .__presentation__ .__main__presentation__ .__main__asset__ {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  /* START --- PRESENTATION --- SECTION RESPONSIVE */

  .__homepage__presentation__ {
    .__presentation__ {
      .__main__presentation__ {
        .__me__ {
          .name {
            p {
              span {
                font-size: 6rem;
                margin-top: 100px;
              }
            }
          }
          .job {
            p {
              span {
                font-size: 4rem;
              }
            }
          }
          .__language__ {
            margin-top: 32px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 50px;
            a {
              .language_icon {
                width: 1.8rem;

                &:last-child {
                  width: 2.5rem;
                }
              }
            }
          }
        }
      }
    }
  }

  /* END --- PRESENTATION --- SECTION RESPONSIVE */
}

@media screen and (max-width: 850px) {
  /* START --- PROJECTS --- SECTION RESPONSIVE */

  .__spoiler__projects__ {
    ._projects_cards_ {
      flex-direction: column;
    }
  }

  /* END --- PROJECTS --- SECTION RESPONSIVE */
  /* START --- ABOUT --- SECTION RESPONSIVE */

  ._about_contact {
    div {
      flex-direction: column !important;
      div {
        flex-direction: row !important;
        align-items: flex-start;
        a {
        }
      }
    }
  }

  /* END --- ABOUT --- SECTION RESPONSIVE */
}

@media screen and (max-width: 600px) {
  /* START --- PRESENTATION --- SECTION RESPONSIVE */

  .__homepage__presentation__ {
    .__presentation__ {
      margin-top: -65px;
      .__presentation__separator__ {
      }

      .__main__presentation__ {
        .__me__ {
          .name {
            margin-top: 100px;
            p {
              span {
                font-size: 3.8rem;
              }
            }
          }

          .job {
            p {
              span {
                font-size: 2.4rem;
              }
            }
          }
          .__language__ {
            margin-top: 32px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 25px;
            a {
              .language_icon {
                width: 60px;

                &:last-child {
                  width: 120px;
                }
              }
            }
          }
        }
      }
    }
  }

  /* END --- PRESENTATION --- SECTION RESPONSIVE */
}

@media screen and (max-width: 430px) {
  /* START --- PRESENTATION --- SECTION RESPONSIVE */

  .__homepage__presentation__ {
    .__presentation__ {
      margin-top: -75px;
      .__main__presentation__ {
        margin-bottom: -100px;
        .__me__ {
          .name {
            min-width: auto;
            p {
              span {
                width: 60px;
                font-size: 2.2rem;
                margin-top: 100px;
              }
            }
          }
          .job {
            p {
              span {
                font-size: 1.8rem;
              }
            }
          }
          .__language__ {
            display: none;
          }
        }
      }
    }
  }

  /* END --- PRESENTATION --- SECTION RESPONSIVE */

  /* START --- ABOUT --- SECTION RESPONSIVE */

  .__spoiler__about__ {
    .__about__card__ .__about__ ._about_descript_ {
      text-align: center;
      font-size: 17px;
      letter-spacing: 0;
    }
  }

  /* END --- ABOUT --- SECTION RESPONSIVE */
}

@media screen and (min-height: 800px) {
  .__homepage__presentation__ {
    margin-top: 85px;
  }
}

/* END --- Homepage view Responsive */
