@media screen and (max-width: 1250px) {

  .__news__ .__news__container__ .__news__category__ .__news__category__cards__ {
    justify-content: center!important;
  }

  .__news__category__title {
    justify-content: center!important;
  }

}

/* Responsive news{title} */

@media screen and (max-width: 800px) {
  .__keywords__ {
    align-items: flex-start!important;
    flex-direction: column!important;
  }
}