$__backgroundColor__: #F2F2F2;
$_family_poppins: 'Poppins', sans-serif;
$_family_iconsolata: 'Inconsolata', monospace;
$__navbarLinksColor__: #949494;
$__hiddenNavbar__: -1000px;
$__navbarBackgroundColor__: #242B40;

$bleu_fort: #1B208C;
$bleu_moyen: #464AA6;
$bleu_clair: #787CBF;
$bg: #F2F2F0;
$clay: #F2BC79;
/* Color Theme Swatches in Hex */
$People-using-their-mobile-phones-or-smartphone-for-the-news-illustration-1-hex: #242B40;
$People-using-their-mobile-phones-or-smartphone-for-the-news-illustration-2-hex: #52B3D9;
$People-using-their-mobile-phones-or-smartphone-for-the-news-illustration-3-hex: #F2C166;
$People-using-their-mobile-phones-or-smartphone-for-the-news-illustration-4-hex: #F2D49B;
$People-using-their-mobile-phones-or-smartphone-for-the-news-illustration-5-hex: #F2F2F2;

* {
  margin: 0;
  padding: 0;
}

body {
  background: $__backgroundColor__;
  overflow-x: hidden;
  overflow-y: scroll;
}
