@media screen  and (min-width: 480px) /*  téléphones mobiles */
{
     /* ! INDEX.HTML */



     /* ! END INDEX.HTML */ 
    
}

@media screen and (max-width: 720px) /*  téléphones mobiles */
{
}

@media screen and (min-width: 721px) /*  tablettes portrait */
{
     /* ! INDEX.HTML */

        

     /* ! END INDEX.HTML */ 
}

@media screen and (max-width: 900px) /*  tablettes portrait */
{
}

@media screen and (min-width: 901px) /*  tablettes paysages */
{
     /* ! INDEX.HTML */

        

     /* ! END INDEX.HTML */ 
}

@media screen and (max-width: 1024px) /* tablettes paysages */
{
}


@media screen and (min-width: 1025px) /*  ordinateur */
{
     /* ! INDEX.HTML */

        

     /* ! END INDEX.HTML */ 
}

@media screen and (max-width: 1200px) /*  ordinateur */
{

}

@media screen and (max-width: 1025px)
{
  #src-img-scnd, 
  #src-img-thrd 
  {
      display: none;
  }
}

/* 
@media screen and (max-width: 1280px) 
{
  header div#header .header-nav ul li ul li a 
  {
      background-color: var(--temp-red);
  }
  header div#header .header-nav ul li ul li a:hover
  {
      background-color: varat(--white);
  }
  .fa-address-card
  {
      margin-top: 0.5vh;
  }
  .fa-chevron-circle-down,
  .fa-backward,
  .fa-home
  {
      font-size: 2em;
  }
}

@media screen and (max-width: 800px) 
{
  #menu-central 
  {
      width: 100%;
  }
  #img-centrale  
  {
      width: 100%;
      height: 100%;
  }
} */
/* 
@media screen and (max-width: 1535px)
{
  #src-img-scnd, 
  #src-img-thrd 
  {
      display: none;
  }
}

@media screen and (min-width: 1671px)
{
  #img-scnd 
  {
      justify-content: left;
      margin: -22em 4.5em;
  }
  #img-thrd 
  {
      justify-content: right;
      margin: -22em 84.5em;
  }

}
 */
