@keyframes __element__navbar__extends__ {
  0% {
    margin-left: 20px;
  }
  100% {
    margin-left: 140px;
  }
}

@keyframes __reverse__element__navbar__extends__ {
  0% {
    margin-left: 140px;
  }
  100% {
    margin-left: 20px;
  }
}