/**
  * Colors
  */
$primary: #f2f2f2;
$white: #ffffff;
$black: #0f0f0f;
$clay: #f2bc79;
$orange: #f2c166;
$blue: #1b208c;
$ocean: #52b3d9;
$dark: rgba(0, 0, 0, 1);
$dark-blue: #242b40;
$medium-blue: #464aa6;
$light-white: #f2f2f2;
$light-gray: #595959;
$light-black: #181717;
$light-orange: #f2d49b;
$light-blue: #787cbf;
$light-primary: #f2f2f0;

/**
  * Font family
  */
$poppins: "Poppins", sans-serif;
$iconsolata: "Inconsolata", monospace;
$apple: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

/**
  * Themes variables
  */
:root {
  --primary-color: #f2f2f2;
  --contrast: #242b40;
  --burger-color: #595959;
  --title-color: #212529;
  --text-color: #212529;
  --button-background: #f2bc79;
  --details: #f2bc79;
  --scrollbar-background: #242b40;
  --scrollbar-progress: #52b3d9;
  --link: #6c757d;
  --link-hover: #000;
  --shadow: rgba(0, 0, 0, 0.1);
  --underline: #464aa6;
}

[data-theme="dark"] {
  --primary-color: #242b40;
  --contrast: #f2f2f2;
  --burger-color: #f2f2f2;
  --title-color: #f2f2f2;
  --text-color: #f2f2f2;
  --button-background: #464aa6;
  --details: #464aa6;
  --scrollbar-background: #f2f2f2;
  --scrollbar-progress: #464aa6;
  --link: #464aa6;
  --shadow: rgba(0, 0, 0, 0.1);
  --link-hover: #787cbf;
}
