@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

:root {
  --backroundColor: #083a59;
  --color1: #105773;
  --color2: #20788c;
  --shadowColor: #5aadbf;
  --iconColor: #e4edf2;

  --amatic: "Amatic SC", cursive; /* Titres et Sous-Titres */
  --poiret: "Poiret One", cursive; /* Descriptions */
  --fatface: "Abril Fatface", cursive; /* Menu déroulant */

  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--backroundColor);
}

/** ------------------------------ LOADER ------------------------------ */

.loader-style-display {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iconColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-style-display > img {
  width: 400px;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader-style-display.loader-none {
  animation: fadeOut 0.85s;
  animation-fill-mode: forwards;
}

/*! ------------------------------ LOADER ------------------------------ */
/** ------------------------------ HEADER ------------------------------ */

.header-menu_header-buttons {
  display: flex;
  justify-content: right;
  margin: 0.3em 4.5em;
  flex-wrap: nowrap;
  padding: 0.1%;
  flex-direction: row-reverse;
}

.fa-chevron-circle-down,
.fa-backward,
.fa-home {
  font-size: 3rem;
  color: var(--color2);
  background-color: transparent;
}

.fa-backward,
.fa-chevron-circle-down {
  margin: auto 0.2em;
}
.fa-chevron-circle-down-hover,
.fa-backward:hover,
.fa-home:hover {
  color: var(--iconColor);
  cursor: pointer;
  transform: scale(1.09);
  text-shadow: -0.5px 0 var(--shadowColor), 0 0.5px var(--shadowColor),
    0.5px 0 var(--shadowColor), 0 -0.5px var(--shadowColor);
}
.fa-chevron-circle-down-hover,
.fa-backward:hover,
.fa-home:hover {
  transition: All 0.9s;
}

/*! ------------------------------ HEADER ------------------------------ */
/** ------------------------------ FOOTER ------------------------------ */

#foot {
  position: absolute;
  height: 25px;
  width: 100%;
  text-align: center;
  bottom: 0;
  cursor: default;
}

.href-to-mentions {
  text-decoration: none;
  color: var(--color2);
}

#footerspan:hover {
  transition: All 0.8s;
  color: var(--iconColor);
  text-decoration: none;
}

/*! ------------------------------ FOOTER ------------------------------ */
/** ------------------------------ ERROR ------------------------------- */

#titre-notfound {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 10rem;
  font-weight: 100;
  font-family: var(--abril);
  color: var(--iconColor);
  text-shadow: -0.5px 0 var(--shadowColor), 0 0.5px var(--shadowColor),
    0.5px 0 var(--shadowColor), 0 -0.5px var(--shadowColor);
}

#p-notfound {
  width: 100%;
  margin: auto;
  font-size: 5rem;
  text-align: center;
  font-weight: 800;
  color: var(--iconColor);
  font-family: var(--abril);
  text-shadow: -0.5px 0 var(--shadowColor), 0 0.5px var(--shadowColor),
    0.5px 0 var(--shadowColor), 0 -0.5px var(--shadowColor);
}

#shtml-errors-server-return-this {
  display: none;
}

/*! ------------------------------ ERROR ------------------------------- */
/** -------------------------- COMMING SOON ---------------------------- */

.content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 320px;
  border-color: black;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

/*! -------------------------- COMMING SOON ---------------------------- */
/** ------------------------------ INDEX  ------------------------------ */
/** -------------------------- MENU DÉROULANT -------------------------- */

ul.drop a {
  font-family: var(--fatface);
  font-size: 1.2em;
  font-weight: lighter;
}

ul.drop,
ul.drop li,
ul.drop ul {
  list-style: none;
  margin: -0.4px;
  padding: 0;
  color: var(--iconColor);
  text-align: end;
}

ul.drop {
  position: absolute;
  z-index: 597;
  float: left;
}

ul.drop li {
  line-height: 1.5em;
  vertical-align: middle;
  transform: scale(1);
  padding: 1.08px;
}

ul.drop ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
}

ul.drop li ul {
  width: 1000%;
  max-width: 265px;
  margin: 1px -12.5em;
}

ul.drop li.menuhover:hover > ul {
  visibility: visible;
}

header div.header-menu_header-buttons .header-nav ul li ul li a {
  color: var(--iconColor);
  text-decoration: none;
}

header div.header-menu_header-buttons .header-nav ul li ul li a:hover {
  transform: scale(1.02);
  text-shadow: -0.5px 0 var(--shadowColor), 0 0.5px var(--shadowColor),
    0.5px 0 var(--shadowColor), 0 -0.5px var(--shadowColor);
}

/** -------------------------- MENU DÉROULANT -------------------------- */
/** ------------------------------ BUTTONS ------------------------------ */

#first_button_div {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.fa-circle {
  padding: 0.3vh;
  margin-top: 5vh;
  font-size: 1.5em;
}

.btn1 {
  animation: bounce 1.2s ease infinite alternate-reverse;
}
.btn2 {
  animation: bounce 1.4s ease infinite alternate-reverse;
}
.btn3 {
  animation: bounce 1.6s ease infinite alternate-reverse;
}

.btn1,
.btn2,
.btn3 {
  color: var(--iconColor);
}
.btn1:hover {
  /* color: #892e88; */
  color: #debeca;
}
.btn2:hover {
  /* color:#173d20; */
  color: #ef787d;
}
.btn3:hover {
  /* color: #f89b3b; */
  color: #facc9a;
}
@keyframes bounce {
  from {
    transform: translateY(1.25vh);
  }
  to {
    transform: translateY(1vh);
  }
}

/** ------------------------------ BUTTONS ------------------------------ */
/** ------------------------------ SLIDES ------------------------------ */

#slides {
  width: 100%;
  height: 33vh;
  margin-top: 5.5vh;
  display: flex;
  justify-content: center;
}

#img-centrale {
  width: 100%;
  height: 100%;
  border-radius: 22.5px 22.5px 22.5px 22.5px;
  border: solid;
  border-width: 4px;
  border-color: var(--shadowColor);
}

#img-scnd {
  width: 100%;
  height: 60%;
  border-radius: 25.5px 25.5px 25.5px 25.5px;
  margin-top: 20%;
  margin-left: -20%;
}

#img-thrd {
  width: 100%;
  height: 60%;
  margin-top: 20%;
  margin-left: 22%;
  border-radius: 25.5px 25.5px 25.5px 25.5px;
}

/* #img-scnd {
  transform: rotateX(9deg) rotateY(45deg) rotateZ(0deg) translateX(0px)
    translateY(-35px) translateZ(0px) scale(1.375) skewY(3deg);
  -moz-transform: rotateX(9deg) rotateY(45deg) rotateZ(0deg) translateX(0px)
    translateY(-35px) translateZ(0px) scale(1.375) skewY(3deg);
  -ms-transform: rotateX(9deg) rotateY(45deg) rotateZ(0deg) translateX(0px)
    translateY(-35px) translateZ(0px) scale(1.375) skewY(3deg);
  -o-transform: rotateX(9deg) rotateY(45deg) rotateZ(0deg) translateX(0px)
    translateY(-35px) translateZ(0px) scale(1.375) skewY(3deg);
}

#img-thrd {
  transform: rotateX(-9deg) rotateY(-49deg) rotateZ(0deg) translateX(-50px)
    translateY(-20px) translateZ(0px) scale(1.4) skewY(-15deg);
  -moz-transform: rotateX(-9deg) rotateY(-49deg) rotateZ(0deg) translateX(-50px)
    translateY(-20px) translateZ(0px) scale(1.4) skewY(-15deg);
  -ms-transform: rotateX(-9deg) rotateY(-49deg) rotateZ(0deg) translateX(-50px)
    translateY(-20px) translateZ(0px) scale(1.4) skewY(-15deg);
  -o-transform:rotateX(-9deg) rotateY(-49deg) rotateZ(0deg) translateX(-50px)
    translateY(-20px) translateZ(0px) scale(1.4) skewY(-15deg);
  } */

#img-centrale:hover {
  cursor: help;
}

/** ------------------------------ SLIDES ------------------------------ */
/** ---------------------------- CONTAINER ----------------------------- */

#container-menu-central {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
  width: 100%;
  overflow: hidden;
}

#prenom,
#nom {
  font-size: 8.5vw;
  color: var(--iconColor);
  font-family: var(--amatic);
  margin-right: 2%;
  margin-left: 2%;
}

.fa-random {
  font-size: 3.5vw;
  color: var(--color2);
  margin-top: 100%;
}

.fa-random:hover {
  transition: All 0.8s;
  color: var(--iconColor);
}

/** ---------------------------- CONTAINER ----------------------------- */
/*! ------------------------------ INDEX  ------------------------------ */
/** -------------------------- PRESENTATION ---------------------------- */

/* Dont do this page */

/*! -------------------------- PRESENTATION ---------------------------- */
/** --------------------------- COMPRENDRE ----------------------------- */

.section-principale {
  margin-top: 12.5vh;
  display: flex;
  justify-content: center;
}

.container-principal {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 50vh;
  width: 85%;
  -webkit-box-shadow: 5px 5px 15px 5px #7c1d1d;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 30px;
  background-color: var(--color1);
  background-image: linear-gradient(
      transparent 11px,
      var(--backroundColor) 12px,
      transparent 12px
    ),
    linear-gradient(
      90deg,
      transparent 11px,
      var(--backroundColor) 12px,
      transparent 12px
    );
  background-size: 100% 12px, 12px 100%;
  overflow: auto;
}

.space-between-github-icons {
  height: 100%;
  width: 100%;
}

.github-button-container {
  /* margin-top: 100px; */
  align-self: center;
  width: auto;
  height: auto;
}

.space-between-container {
  width: 100%;
  height: 30px;
}

.container-title-h1 {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 5vw;
  font-family: var(--amatic);
  color: var(--iconColor);
  font-weight: lighter;
}

.container-github-paragraphe {
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  font-size: 1.2vw;
  font-family: var(--poiret);
  color: var(--iconColor);
  text-align: center;
}

.href-to-github {
  text-decoration: none;
  font-weight: bold;
  color: var(--shadowColor);
  font-family: var(--poiret);
}

/*! --------------------------- COMPRENDRE ----------------------------- */
/** ---------------------------- PROJETS ------------------------------- */

.grid-projects {
  margin-top: 1%;
  margin-right: 15%;
  margin-left: 15%;
  width: auto;
  height: 500px;
  margin-bottom: 4em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.projet-presentation-grid {
  background-color: var(--backroundColor);
}

.imgsrc {
  transition: All 1.5s;
  width: 100%;
  height: 100%;
}

.show-more-about-this-image {
  transform: scale(1.2);
  transition: All 2.3s;
}

/*! ---------------------------- PROJETS ------------------------------- */
/** --------------------------- SPORT - ADDICT -------------------------- */
/** ----------------------------- TIMKEN ------------------------------- */
/** ---------------------------- SNIPE-IT ------------------------------ */

#div_principale_projet {
  display: flex;
  justify-content: right;
  margin: auto;
  margin-top: 2vh;
  width: 50%;
  height: 100%;
}

#video_projet {
  z-index: 1;
  width: 100%;
  height: 100%;
  border: outset;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}

#demo_projet {
  z-index: 1;
  width: 100%;
  height: 100.5%;
  border: outset;
  border-radius: 20px 20px 20px 20px;
  display: none;
  overflow: hidden;
}

#infodivvideo,
#infodivframe {
  display: none;
}

.togglefunction {
  position: absolute;
  font-size: 2.5em;
  color: var(--shadowColor);
  z-index: 999;
  margin-top: 0px;
  margin-right: -40px;
  cursor: pointer;
}

.fa-file-code {
  display: none;
}

.research-info-function {
  position: absolute;
  font-size: 2.5em;
  color: var(--shadowColor);
  z-index: 999;
  margin-top: 20px;
  margin-right: 20px;
  cursor: help;
}

.research-info-function:hover,
.togglefunction:hover {
  color: var(--iconColor);
  transform: scale(1.09);
  text-shadow: -0.5px 0 var(--shadowColor), 0 0.5px var(--shadowColor),
    0.5px 0 var(--shadowColor), 0 -0.5px var(--shadowColor);
  transition: All 0.9s;
}

.research-info-function-hover {
  color: var(--iconColor);
  transform: scale(1.09);
  text-shadow: -0.5px 0 var(--shadowColor), 0 0.5px var(--shadowColor),
    0.5px 0 var(--shadowColor), 0 -0.5px var(--shadowColor);
}

#info-circle_code {
  display: none;
}

.info-projet {
  position: absolute;
  z-index: 10;
  color: white;
  width: 50%;
  height: auto;
}

.href-to-other-page {
  text-decoration: underline;
  color: var(--shadowColor);
}
.href-to-other-page:hover {
  color: wheat;
}

.infodivh1 {
  margin-top: 10px;
  margin-left: 16px;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: var(--amatic);
  font-weight: lighter;
}

.divhr {
  width: auto;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.infodivh2 {
  font-size: 1.2rem;
  color: var(--iconColor);
  margin-left: 16px;
  margin-right: 16px;
  font-family: var(--poiret);
  font-weight: 550;
}

.infop {
  font-size: 1.2rem;
  color: var(--iconColor);
  margin-top: 60px;
  margin-left: 16px;
  margin-right: 16px;
  font-family: var(--poiret);
  font-weight: 550;
}

.info-projet a {
  text-decoration: none;
  color: var(--shadowColor);
}

.info-projet a:hover {
  color: wheat;
}


.title-of-the-project-href {
  color: var(--iconColor);
  text-decoration: none;
}

.title-of-the-project {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 8em;
  font-family: var(--amatic);
}

/*! ---------------------------- SNIPE-IT ------------------------------ */
/*! ----------------------------- TIMKEN ------------------------------- */
/*! --------------------------- SPORT - ADDICT -------------------------- */
/** ----------------------------- MENTIONS ------------------------------- */

.active-scroll-on-this-page-All {
  overflow: scroll;
}
#mentionslegales {
  padding: 0rem 10%;
  text-align: justify;
}
#mentionslegales h2 {
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--shadowColor);
  font-size: 30px;
  font-weight: 800;
  padding-top: 40px;
  text-align: left;
}
#mentionslegales p {
  font-size: 20px;
  color: var(--iconColor);
}

#mentionslegales a {
  text-decoration: none;
  color: var(--shadowColor);
}

#mentionslegales a:hover {
  color: wheat;
}

/*! ----------------------------- MENTIONS ------------------------------- */
/** ----------------------------- VEILLE ------------------------------- */



/*! ----------------------------- VEILLE ------------------------------- */
