.fa-chevron-circle-down {
    font-size: 28px;
    color: rgb(190, 190, 190);
    transform: rotateZ(180deg);
}

.drop-nav-menu {
    background-color: #083A59;
    width: 5%;
    height: 80%;
    display: flex;
    position: relative;
}

#hrf1 , #hrf2 , #hrf3 {
    text-decoration: none;
    color: black;
}


.drop-nav-menu  .fa-chevron-circle-down {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.drop-nav-menu .content {
    display: none;
    
}


/* :HOVER */

/*  */

.fa-chevron-circle-down:hover {
    transform: rotateZ(360deg);
    transition-duration: 1s;    
    filter: brightness(5);
    transform: scale(1.1);
}

/* */
.drop-nav-menu:hover .content{
    display: block;
    flex-direction: column;
    position: absolute;
    background-color: #083A59;
    top: 28px;
    width: 120px;
    padding: 5px 10px;
    box-sizing: border-box;
    color: black;
 
}

#hrf1:hover , #hrf2:hover , #hrf3:hover {
    text-decoration: none;
    color: black;

}